.footer__column_content_link {
  display: flex;
  text-decoration: none;
  color: white;
  gap: 10px;
  align-items: center;
  line-height: 30px;
  font-size: 18px;
  transition: all 0.3s ease;
  opacity: 1;  
  }

.footer__column_content_link:hover {
  opacity: 0.5;  
}
